.emojisWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.animalsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.animalsWrapper h2 {
    text-align: center;
    width: 100%;
}

.creatingWrappersWrapper{
    /* outline: solid red; */
}