.emojis-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.animals-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px;
}

.animalsWrapper h2 {
    text-align: center;
    width: 100%;
}

.creatingwrappers-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

h2 {
    text-align: center;
}

.alert-wrapper {
    padding: 20px;
}