.alert-wrapper {
    padding: 15px;
    margin-bottom: 15px;
}

.alert-wrapper > h3 {
    margin: 0 0 10px 0;
}

.alert-wrapper.success {
    border: #6DA06F solid 1px;
}

.success > h3 {
    color: #6DA06F;
}

.alert-wrapper.error {
    border: #F56260 solid 1px;
}

.error > h3 {
    color: #F56260;
}