.emoji-btn {
  font-size: 2em;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
}

.emoji-list {
  display: flex;
  padding: 0;
}

.emoji-list-item {
  margin: 0 20px;
  list-style: none;
  padding: 0;
}
